.about {
  margin: 0 auto;
  margin-left: 10px;
  
  p {
    max-width: 500px;
  }
}

.bold {
  font-weight: bold;
}

.arrow {
  color: #a8a8a8;
}

.mobileArrow {
  display: none;
}

@media (max-width: 700px) {
  .dots {
    display: none;
  }
  .mobileArrow{
    display: contents;
  }
}