.connect {
  margin-left: 5px;
  background-color: whitesmoke;
  position: fixed;
  bottom: 10px;
  right: 15px;
  width: 94vw;
  border: solid 2px #219ab6;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px grey;
  
  .title {
    font-size: 18px !important;
    margin-left: 10px;
  }
  img {
    width: 40px
  }

  .icons {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 0px 10px -10px;
  }
}

@media (min-width: 600px) {
  .connect {
    width: 375px;
  }
}

@media (min-width: 880px) {
  .connect {
    right: 15vw;
  }
}