@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
  div {
    color: #219ab6;
    font-family: 'Press Start 2P';
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 21px;
    justify-content: center;

    h1 {
      margin: 5px;
      letter-spacing: 10px;
    }

    .patrick {
      letter-spacing: 0px;
      padding-right: 11px;
    }
  }

}

@media (max-width: 350px) {
  .header {
    display: grid;
  }
}