.intro {
  font-size: 18px;
  margin: 0 auto;
  max-width: 350px;
  align-self: center;
}

.theatre {
  color: #c71500;
}
.theatre:hover {
  text-decoration: underline;
  text-decoration-color: #c71500;
}

.books {
  color: #219ab6;
}

.gamer {
  color:#e2c200;
  cursor: pointer;
}

.gamer:hover {
  text-decoration: underline;
}

.playing {
  margin: -10px 0px 0px 25px !important;
  padding: 5px;
  font-size: 12px;
  color: #464646;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}