.joelGame {
}

.hidden {
  display: none;
}

.joel{
  margin: 5px 5px 0px -10px;
  width: 75px;
}

@media (max-width: 350px) {
  .joelGame {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -75px;
  }
  .hidden {
    color: white;
    display: grid;
    position: relative;
    background: black;
    border-radius: .4em;
    border: solid 1px black;
    height: 45px;
    text-align: center;
    margin: 25px !important;
  }

  .hidden:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-left-color: black;
    border-right: 0;
    border-top: 0;
    margin-top: -11px;
    margin-right: -24px;
  }
}




