.projects {
  margin: 0 auto;
  margin-left: 10px;
  display: flex;
  flex-direction: column;

  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .project {
    margin-left: 5px;
    margin-bottom: 0px;

    .links {
      display: flex;
      justify-content: space-around;
    }
    p {
      margin-top: 3px;
      margin-left: 0px;
    }
  }

}

@media (min-width: 600px) {
  .projects{
    .project{
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}