.projects {
  margin: 0 auto;
  margin-left: 10px;
  display: flex;
  flex-direction: column;

  .project {
    margin-left: 5px;
    margin-bottom: 20px;
  
    img {
      background-color: #dfdfca;
      width: 40vw;
      height: 40vw;
      float: left;
      margin: 5px 15px 0px 10px;
      border: solid 2px #219ab6;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 2px grey;
    }
    .links {
      display: flex;
      justify-content: space-around;
    }
    p {
      margin-top: 10px;
    }
  }

}

@media (min-width: 600px) {
  .projects{
    .project{
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}