.projects {
  max-width: 600px;
  margin: 0 auto;

  .project {
    display: flex;
    margin-bottom: 20px;
  
    img {
      width: 200px;
      height: 200px;
      margin-right: 10px;
      border: solid 5px black;
      border-radius: 10px;
      box-shadow: 5px 10px 10px grey;
    }
  }
}
